QWidget {
    font-family: "Chivo Mono";
    font-size: 22px;
    background-color: #030717;
    color: white;
}

#horizontalBar {
    background-color: white;
    margin-top: 14px;
    margin-bottom: 14px;
}

#rewindButton,
#playButton,
#settingsDropdown,
#settingsSpinbox {
    border: none;
    background-color: #1e2233;
    border-radius: 0px;
}

#rewindButton:hover,
#playButton:hover,
#settingsDropdown:hover,
#settingsSpinbox:hover {
    background-color: #2c324a;
}

#rewindButton:pressed,
#playbutton:pressed,
#settingsDropdown:pressed,
#settingsSpinbox:pressed {
    background-color: #121523;
}

#rewindButton,
#playButton {
    width: 26px;
    height: 26px;
    padding: 4px;
}

#settingsDropdown::drop-down {
    border: none;
    width: 26px;
}

#settingsDropdown QAbstractItemView {
    background-color: #121523;
    color: white;
    border: none;
    selection-background-color: #1e2233;
    selection-color: white;
}

#playbackSlider {
    min-height: 32px;
}

#playbackSlider::groove:horizontal {
    border: none;
    height: 8px;
    background: #1e2233;
}

#playbackSlider::sub-page:horizontal {
    border: none;
    background: #2c324a;
}

#playbackSlider::handle:horizontal {
    background: #1e2233;
    border: none;
    width: 12px;
    margin-top: -32px;
    margin-bottom: -32px;
}

#dataDropZone {
    margin: 16px;
    border-radius: 0px;
    border: none;
    padding: 32px;
    background-color: #1e2233;
}

#dataDropZone[hover_state="valid"] {
    background: qlineargradient(spread: repeat,
            x1: 0, y1: 0, x2: 0.1, y2: 0.05,
            stop: 0 #084f0e,
            stop: 0.49 #084f0e,
            stop: 0.5 #08480d,
            stop: 0.99 #08480d);
}

#dataDropZone[hover_state="invalid"] {
    background: qlineargradient(spread: repeat,
            x1: 0, y1: 0, x2: 0.1, y2: 0.05,
            stop: 0 #4f0808,
            stop: 0.49 #4f0808,
            stop: 0.5 #610a0a,
            stop: 0.99 #610a0a);
}

#rightScrollArea QScrollBar::vertical {
    border: none;
    background-color: #030717;
    width: 20px;
    margin: 0px;
}

#rightScrollArea QScrollBar::horizontal {
    border: none;
    background-color: #030717;
    height: 20px;
    margin: 0px;
}

#rightScrollArea QScrollBar::handle:vertical,
#rightScrollArea QScrollBar::handle:horizontal {
    background-color: #1e2233;
    border-radius: 0px;
}

#rightScrollArea QScrollBar::handle:vertical:hover,
#rigthScrollArea QScrollBar::handle:vertical:pressed,
#rightScrollArea QScrollBar::handle:horizontal:hover,
#rigthScrollArea QScrollBar::handle:horizontal:pressed {
    background-color: #2c324a;
}

#rightScrollArea QScrollBar::sub-line:vertical,
#rightScrollArea QScrollBar::add-line:vertical,
#rightScrollArea QScrollBar::sub-line:horizontal,
#rightScrollArea QScrollBar::add-line:horizontal {
    height: 0px;
    width: 0px;
    background: none;
}

#rightScrollArea QScrollBar::sub-page:vertical,
#rightScrollArea QScrollBar::add-page:vertical,
#rightScrollArea QScrollBar::sub-page:horizontal,
#rightScrollArea QScrollBar::add-page:horizontal {
    background: none;
}